.news {
max-width: 100%;
height: 100%;
padding: 0 26px 0 26px;
}

.news__lead-text {
  padding: 96px 0 0 0;
  display: block;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  color: #0F805D;
}
