// Блок новости
.news-list {
  max-width: 100%;
  height: 100%;
  padding: 0;
  margin: 65px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  @media (min-width: $tablet-width) {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
  }
  @media (min-width: $desktop-width) {
  }
}
// Новость
.news-list__item {
max-width: 100%;
max-height: 100%;
padding: 20px;
background-color: #FBFCFE;
border: 2px solid #0F805D;
border-radius: 40px;
@media (min-width: $tablet-width) {
  max-width: 33%;
  max-height: 494px;
  padding: 32px;
}
@media (min-width: $desktop-width) {
  max-width: 26%;
}
}
// Обнуление стандартных margin у текста
.news-list__item h3 {
  margin: 0;
}
.news-list__item p {
  margin: 0;
}
.news-list__title {
max-width: 100%;
min-height: 68px;
padding: 0;
display: inline-block;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
@media (min-width: $tablet-width) {
  padding: 0 4px 0 4px;
}
}
.news-list__subtitle {
width: 100%;
min-height: 208px;
padding: 20px 0 0 0;
text-align: start;
font-size: 14px;
line-height: 1.14;
}
.news-list__date {
  width: 100%;
  height: 100%;
  padding: 12px 0 0 0;
  text-align: end;
}
// Текстовое поле карточки общие параметры контейнера
// .text-area {
// width: 100%;
// height: 208px;
// @media (min-width: $tablet-width) {
//   max-width: 276px;
//   min-height: 100%
// }
// }
