.delivery {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  gap: 33px;
  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    margin: 0;
  }
  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
.delivery__check {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  gap: 12px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
// Скрытый
.delivery__real-radio {
  appearance: none;
  position:  absolute;
  margin: 0;

 }
 .delivery__radio-custom {
  border: 2px solid #0F805D;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  order: -1;
  position: relative;
  flex-shrink: 0;
  &:hover {
    border: 2px solid #7BDB0A;

  }
  }
  // Чекнутый
  input:checked ~ .delivery__radio-custom::before {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: #0F805D;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    top: 4px;
  }
  .delivery__radio-custom::before:hover {
    background-color: #7BDB0A;
    }

