.delivery {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  gap: 33px;
  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    margin: 0;
  }
  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
.delivery__check {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  gap: 12px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
// Скрытый
.delivery__adress {
  appearance: none;
  position:  absolute;
  margin: 0;
 }
// Кастомный чекбокс
.delivery__radio {
  width: 15px;
  height: 15px;
  border: solid 2px #0F805D;
  border-radius: 50px;
  cursor: pointer;
  content: '';
  order: -1;
  position: relative;
}
.delivery__radio::before {
  content: '';
  width: 9px;
  height: 9px;
  background-color: #0F805D;
  border-radius: 50px;
  position: absolute;
  left: 20%;
  top: 20%;
  display: none;
}
.delivery__adress:checked + .delivery__radio::before {
  display: block;
}
