// Форма заказа
.order-form {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0 26px 0 26px;
  text-align: left;
  display: flex;
  flex-direction: column;
  @media (min-width: $tablet-width) {
    padding: 0 72px 0 72px;
    display: grid;
  }
    @media (min-width: $desktop-width) {
      padding: 0 300px 0 349px;
  }
}
.order-form__title {
  margin: 50px 0 32px 0;
  @media (min-width: $tablet-width) {
    margin: 50px 0 32px 0;
  }
  @media (min-width: $desktop-width) {
    margin: 57px 0 32px 0;
  }
}

.order-form__button {
  margin: 32px 0 0 0;
  align-self: center;
  @media (min-width: $tablet-width) {
    display: grid;
    align-items: center;
    justify-self: center;
  }
  @media (min-width: $desktop-width) {
    margin: 48px 0 0;
    display: grid;
    align-items: center;
    justify-self: center;
  }
}

// Отключение переносов 1440px
.delivery__transfer {
display: none;
}
