.headline {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 64px;
  padding: 0;
  box-shadow: inset 0px 4px 4px rgba(88, 13, 101, 0.5);
}
.headline-text {
  padding: 0 26px 0 26px;
}
// Фон
.headline-background {
  max-width: 100%;
  height: 120px;
  background-image: url("../../../img/background/order-bg/mobile-ord-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 70%;
  box-shadow: inset 0px 4px 4px rgba(88, 13, 101, 0.5);
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  background-image: url("../../../img/background/order-bg/retina/mobile-ord-bg-retina.jpg");
  background-repeat: no-repeat;
  background-position: 10% 70%;
  }
  @media (min-width: $tablet-width){
    height: 200px;
    background-image: url("../../../img/background/order-bg/tablet-ord-bg.jpg");
    background-repeat: no-repeat;
    background-position: 25% 25%;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      background-image: url("../../../img/background/order-bg/retina/tablet-ord-bg-retina.jpg");
      background-position: 25% 25%;
    }
  }
  @media (min-width: $desktop-width){
    background-image: url("../../../img/background/order-bg/desktop-ord-bg.jpg");
    background-repeat: no-repeat;
    background-position: 25% 25%;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    background-image: url("../../../img/background/order-bg/retina/desktop-ord-bg-retina.jpg");
    background-repeat: no-repeat;
    background-position: 25% 25%;
    }
      }
}
.headline__title {
min-width: 100%;
min-height: 100%;
margin: 0;
padding: 0;
}
.headline__subtitle {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 32px 0 0 0;
  @media (min-width: $tablet-width) {
    padding: 48px 0 0 0;
  }
  }
  .headline__leaf {
width: 228px;
height: 32px;
margin: 35px 0 0 0;
@media (min-width: $tablet-width) {
width: 296px;
height: 42px;
margin-top: 35px;
}
@media (min-width: $tablet-width) {
 margin-top: 46px;
  }
  }
