.catalog {
  padding: 0 26px 0 26px;
  @media (min-width: $tablet-width) {
padding: 0 94px 0 94px;
  }
  @media (min-width: $desktop-width) {
    padding: 0 156px 0 156px;
      }
}
.catalog__title {
margin: 0;
display: inline-block;
padding-top: 40px;
}
