// Сетка товаров
.product-cards {
  width: 100%;
  height: 100%;
  margin: 64px 0 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  column-gap: calc(20px + 2%);
  @media (min-width: $tablet-width) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    gap: 52px;
  }
  @media (min-width: $desktop-width) {
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
    row-gap: 52px;
    column-gap: calc(20px + 2%);
  }
}
// Карточка
.product-cards__item {
max-width: 264px;
max-height: 432px;
background: #FBFCFE;
border-radius: 40px;
-webkit-filter: drop-shadow(0px 4px 4px rgba(88, 13, 101, 0.15));
        filter: drop-shadow(0px 4px 4px rgba(88, 13, 101, 0.15));
@media (min-width: $desktop-width) {
  width: 22.5%;
}
}
.product-cards__photo{
  min-width: 100%;
  border-radius: 20px 20px 0 0;
}
.product-cards__title {
min-width: 184px;
min-height: 32px;
margin: 0;
padding-top: 28px;
display: inline-block;
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 1.17;
color: #0F805D;
}
// Обнуление всех margin у <p>
.product-cards p {
  margin: 0;
  word-break: break-word;
}
// Выравнивание значений
.price-value {
  max-width: 100%;
  min-height: 20px;
  padding-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 1.16;
  }
}
// Кнопка каталога
.product-cards__button {
  min-width: 220px;
  min-height: 52px;
  margin: 38px 0 54px 0;
  border-radius: 40px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #FBFCFE;
  background-color: #6A107A;
  cursor: pointer;
  }
// Скрываю 2 последних карточки согласно макету
@media (max-width: $mobile-width-only) {
.mobile-out {
display: none;
border-radius: 40px;
}
}
