/* здесь используйте глобальные селекторы img, body, html и так далее*/
// Body
.page {
margin: 0;
padding: 0 26px 0 26px;
box-sizing: border-box;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
text-align: center;
}

// Стили логотипа ягоды
.classic-logo {
width: 52px;
height: 52px;
}

// Плохая практика, но проект позволяет
// Отмена у <li> стандартных стилей
li {
list-style: none;
}

// Отмена подчеркивания <a>
a {
  text-decoration: none;
}

// Скрытые элементы
.visually-hidden {
visibility: hidden;
}

// Скрытый h1
h1 .visually-hidden {
display: block;
margin: 0;
}

// Отменя обводки кнопок
button {
  border: 0;
}
