/* здесь используйте глобальные селекторы img, body, html и так далее*/
// Body
.page {
margin: 0;
box-sizing: border-box;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
text-align: center;
}

// Стили логотипа ягоды
.classic-logo {
width: 52px;
height: 52px;
}

// Плохая практика, но проект позволяет
// Отмена у <li> стандартных стилей
li {
list-style: none;
}

// Отмена подчеркивания <a>
a {
  text-decoration: none;
}

// Скрытые элементы
.visually-hidden {
visibility: hidden;
}

// Скрытый h1
h1 .visually-hidden {
display: block;
margin: 0;
}

// Отменя обводки кнопок
button {
  border: 0;
}

// Мобильный h2 section
.classic-section-titles {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  color: #0f805d;
}

// Кнопка общая
.classic-button {
min-width: 264px;
min-height: 56px;
color: #FBFCFE;
background: #6A107A;
border-radius: 40px;
letter-spacing: 0.05em;
font-weight: 400;
font-size: 20px;
line-height: 1.15;
@media (min-width: $tablet-width) {
  min-width: 336px;
  min-height: 68px;
}
@media (min-width: $desktop-width) {

}
}
