.header {
  max-width: 100%;
  min-height: 68px;
  padding: 0;
  background-color: #F1F6FC;
  color: #000000;
  padding: 0 21px 0 26px;
  @media (min-width: $tablet-width) {
    padding: 0 26px 0 26px;
  }
  @media (min-width: $desktop-width) {
    padding:  0 156px 0 156px;
  }
}
