// Кнопка меню
// .main-nav__menu-button {
//   width: 60px;
//   height: 60px;
// }
// Кнопка меню
.main-nav__menu-button {
  width: 60px;
  height: 60px;
}
.main-nav__menu-button{
@media (min-width: $tablet-width) {
  opacity: 0;
  }
  @media (min-width: $desktop-width) {
    opacity: 0;
    }
}
