main-nav {
min-width: 320px;
min-height: 68px;
background-color: #F1F6FC;
box-shadow: 0px 4px 4px rgba(88, 13, 101, 0.25);
 @media (min-width: $tablet-width) {
min-width: 768px;
min-height: 104px;
}
}
// Logo
.main-nav__logo {
  width: 52px;
  height: 52px;
  padding: 8px 0 8px 26px;
  float: left;
  @media (min-width: $tablet-width) {
    padding: 26px 0 22px 22px;
  }
  @media (min-width: $desktop-width) {
    padding: 24px 0 24px 156px;
  }
  }
// Кнопка меню
.main-nav__toggle {
  width: 60px;
  height: 60px;
  margin: 4px 11px 4px 0;
  position: absolute;
  top: 4px;
  right: 11px;
  bottom: 4px;
  border: none;
  cursor: pointer;
  background-color: #F1F6FC;
@media (min-width: $tablet-width) {
  opacity: 0;
  }
  @media (min-width: $desktop-width) {
    opacity: 0;
    }
}
//Открытие
.main-nav--closed .main-nav__toggle::before {
content: "";
width: 45px;
height: 5px;
position: absolute;
top: 15px;
right: 7.5px;
bottom: 15px;
left: 7.5px;
box-shadow: 0 5px 0 0#0f805d, 0 15px 0 0 #0F805D, 0 25px 0 0 #0F805D;
border-radius: 25px;
// Закрытие
.main-nav--opened .main-nav__toggle{

&::before, &::after {
  content: "";
width: 36px;
height: 3px;
position: absolute;
top: 15px;
right: 7.5px;
bottom: 15px;
left: 7.5px;
}
&::before {
transform: rotate(45deg);
box-shadow: none;
}
&::after {
  transform: rotate(-45deg);
}
}
}
// Меню
.main-nav__wrapper {
min-width: 320px;
min-height: 360px;
display: flex;
flex-direction: column;
font-size: 20px;
line-height: 23px;
// Решение 50 - 50
position: relative;
top: 68px;
right: 65px;
@media (min-width: $tablet-width) {
  min-width: 496px;
  min-height: 20px;
}
}
.nav-list {
margin: 0;
padding: 0;
@media (min-width: $tablet-width){
  display: flex;
}
}
.main-nav__link {
min-width: 132px;
min-height: 20px;
display: block;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #000000;
text-align: start;
}
// Поведение меню для телефона
@media (min-width: $mobile-width-only) {

}


