.nav-list {
  // Скрытое меню
  @media (min-width: $tablet-width) {
    gap: 16px;
    justify-content: center
  }
  @media (min-width: $desktop-width) {
    padding: 0;
    gap: 28px;
  }
}
.nav-list__item {
  @media (min-width: $desktop-width) {
    min-width: 132px;
  }
}
.nav-list__item:not(:last-child) {
  padding-bottom: 32px;
  @media (min-width: $tablet-width) {
    padding: 0;
  }

   }
   @media (max-width: $mobile-width-only) {
   .nav-list--opened {
    width: 100%;
    height: 340px;
    display: block;
    padding: 22px 0 0 30px;
    position: absolute;
    background: #f1f6fc;
    top: 65px;
    right: 0;
    left: 0;
   }
   .nav-list--closed {
    display: none;
   }
  }

