.advantages-list {
  width: 80%;
  min-height: 164px;
  margin: 0;
  padding: 0;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  @media (min-width: $tablet-width) {
    width: 100%;
    min-height: 146px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;
  }
  @media (min-width: $desktop-width) {
padding: 0;
  }
  @media (min-width: 1700px) {
    width: 52%;
  }
}

.advantages-list__item {
  display: flex;
  min-width: 100%;
  min-height: 20px;
  margin: 0;
  gap: 12px;
}

.advantages-list__subtitle {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  @media (min-width: $tablet-width) {
max-width: 100%;
min-height: 24px;
margin: 0;
font-size: 18px;
line-height: 1.22;
}
}
.advantages-list__icon {
  width: 32px;
  height: 32px;
  align-self: center;
}
.green-leaf {
  width: 19px;
  height: 20px;
}
.advantages-list__item {
  display: flex;
  min-width: 100%;
  min-height: 20px;
  margin: 0;
}
.advantages-list__image-container {
  width: 32px;
  height: 32px;
  margin: 0;
  display: flex;
  justify-content: center;
}
