
.hero {
  background-image: url("../../../img/bg/mobile-bg.jpg");
  background-repeat: no-repeat;
  // background-size: cover;
  min-width: 100%;
  min-height: 640px;
  @media (min-width: $tablet-width){
    background-image: url("../../../img/bg/tablet-bg.jpg");
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 924px;
  }
  @media (min-width: $desktop-width){
    background-image: url("../../../img/bg/hero-bg.jpg");
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 800px;
      }
    }

.hero__title {
min-width: 265px;
min-height: 80px;
margin: 0;
padding: 68px 27px 0 0;
font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: 36px;
color: #0F805D;
line-height: 1.11;
  @media (min-width:$tablet-width) {
width: 532px;
min-height: 52px;
margin: 0;
padding: 142px 0 0 214px;
font-size: 48px;
line-height: 1.12;
color: #0F805D;
}
@media (min-width: $desktop-width) {
width: 549px;
min-height: 58px;
padding: 172px 0 0 540px;
margin: 0;
font-size: 52px;
line-height: 1.11;
}
}

.hero__button {
min-width: 264px;
min-height: 56px;
margin: 0;
background-color: #6A107A;
border-radius: 40px;
color: #FBFCFE;
font-size: 20px;
line-height: 1.15;
letter-spacing: 0.05em;
  @media (min-width: $tablet-width) {
min-width: 336px;
min-height: 68px;
margin: 50px 0 0 0;
border-radius: 40px;
background-color:#6A107A;
color: #FBFCFE;
font-weight: 400;
font-size: 28px;
line-height: 1.17;
  }
  @media (min-width: $desktop-width) {
    min-width: 336px;
    min-height: 68px;
    margin: 48px 0 0 0;
    border-radius: 40px;
    background-color:#6A107A;
    color: #FBFCFE;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.17;
      }
}
