
.hero {
  max-width: 100%;
  min-height: 640px;
  padding: 0 27px 0 27px;
  background-color: #FBF9F9;
  background-image: url("../../../img/background/index-bg/mobile-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px 4px 4px rgba(88, 13, 101, 0.5);
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  background-image: url("../../../img/background/index-bg/retina/mobile-bg-retina.jpg");
  background-repeat: no-repeat;
  }
  @media (min-width: $tablet-width){
    background-image: url("../../../img/background/index-bg/tablet-bg.jpg");
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 924px;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      background-image: url("../../../img/background/index-bg/retina/tablet-bg-retina.jpg");
    }
  }
  @media (min-width: $desktop-width){
    background-image: url("../../../img/background/index-bg/desktop-bg.jpg");
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 800px;
    padding: 0 350px 0 540px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    background-image: url("../../../img/background/index-bg/retina/desktop-bg-retina.jpg");
    background-repeat: no-repeat;
    }
      }
    }

.hero__title {
max-width: 100%;
min-height: 80px;
margin: 0;
padding: 0;
display: inline-block;
font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: 36px;
color: #0F805D;
line-height: 1.11;
  @media (min-width:$tablet-width) {
max-width: 100%;
min-height: 52px;
margin: 0;
padding: 0;
font-size: 48px;
line-height: 1.12;
color: #0F805D;
-ms-flex-item-align: start;
    align-self: flex-start;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
@media (min-width: $desktop-width) {
  min-width: 100%;
  min-height: 58px;
  margin: 0;
  padding: 0;
  font-size: 52px;
  line-height: 1.11;
  white-space: nowrap;
  position: relative;
  right: 20px;
}
@media (min-width: 1700px) {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
}

.hero__button {
min-width: 264px;
min-height: 56px;
margin: 0;
border-radius: 40px;
line-height: 1.15;
letter-spacing: 0.05em;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #FBFCFE;
cursor: pointer;
background-color: #6A107A;
  @media (min-width: $tablet-width) {
min-width: 336px;
min-height: 68px;
margin: 0;
border-radius: 40px;
font-weight: 400;
font-size: 28px;
line-height: 1.17;
color: #FBFCFE;
background-color:#6A107A;
-ms-flex-item-align: start;
    align-self: flex-start;
  }
  @media (min-width: $desktop-width) {
    min-width: 336px;
    min-height: 68px;
    margin: 0;
    border-radius: 40px;
    background-color:#6A107A;
    color: #FBFCFE;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.17;

      }
      @media (min-width: 1700px) {
        position: relative;
        right: 30%;
      }
}
.main-block {
  max-width: 100%;
  min-height: 276px;
  padding: 68px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  @media (min-width: $tablet-width) {
    padding: 142px 0 0 0;
    margin: 0;
    float: right;
    gap: 48px;
  }
  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 172px 0 0 0;
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  @media (min-width: 1700px) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
// br
.only-mobile {
@media (min-width: $tablet-width) {
 display: none;
}
}
