.page-footer {
  max-width: 100%;
  min-height: 116px;
  padding: 0 26px 0 26px;
  margin: 68px 0 0 0;
  display: flex;
  background: #F1F6FC;
  @media (min-width: $tablet-width) {
    margin: 100px 0 0 0;
    padding: 0 20px 0 20px;
  }
  @media (min-width: $desktop-width) {
    margin: 100px 0 0 0;
    padding: 0 156px 0 156px;
  }
}
.page-footer__logo {
  padding: 11px 0 0 0;
}
