.your-contacts {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  gap: 36px;
  text-align: left;
  @media (min-width: $tablet-width) {
  }
  @media (min-width: $desktop-width) {
    width: 80%
  }
}
.your-contacts__title {
  margin: 32px 0 0 0;
  @media (min-width: $tablet-width) {
    margin: 50px 0 0 0;
    text-align: center;
  }
  @media (min-width: $desktop-width) {
    margin: 57px 0 0 0;
    text-align: start;
  }
}
// Общие стили полей
.user-data-field {
  display: -ms-grid;
  display: grid;
  row-gap: 36px;
  @media (min-width: $tablet-width) {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
    row-gap: 36px;
  }
  @media (min-width: $desktop-width) {

  }
}
// Первое поле
.contacts-first-element {
  @media (min-width: $tablet-width) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
  }
}
// Второе
.contacts-second-element {
  @media (min-width: $tablet-width) {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 2;
}
}
// Третье
.contacts-third-element {
  @media (min-width: $tablet-width) {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 2;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 2;
  }
}
// Четвертое
.contacts-fourth-element {
  @media (min-width: $tablet-width) {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
}
}
// Пятое
.contacts-fifth-element {
  @media (min-width: $tablet-width) {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
}
}

// поле ввода
.your-contacts__user-data {
  max-width: 100%;
  max-height: 100%;
  padding: 16px 12px;
  margin: 0;
  border: 0;
  border: 1px solid #0F805D;
  border-radius: 20px;
  cursor: pointer;
}
.your-contacts__desc {
max-width: 100%;
max-height: 100%;
padding: 0;
margin: 0;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
gap: 4px;
}

// Поле адреса
.adress-data {
max-width: 100%;
// min-height: 88px;
@media (max-width: $mobile-width-only) {
  height: 44px;
}
@media (min-width: $tablet-width) {
  max-width: 100%;
  max-height: 15px;
}
@media (min-width: $desktop-width) {

}
}
.adress-data::-webkit-input-placeholder {
  @media (max-width: $mobile-width-only) {
    -webkit-transform: translateY(-15.5px);
            transform: translateY(-15.5px);
  }
}
.adress-data::-moz-placeholder {
  @media (max-width: $mobile-width-only) {
    transform: translateY(-15.5px);
  }
}
.adress-data:-ms-input-placeholder {
  @media (max-width: $mobile-width-only) {
    transform: translateY(-15.5px);
  }
}
.adress-data::placeholder {
  @media (max-width: $mobile-width-only) {
    -webkit-transform: translateY(-15.5px);
            transform: translateY(-15.5px);
  }
}
// Пожелания
.wishes-data {
  min-height: 124px;
}
.wishes-data::-webkit-input-placeholder {
  -webkit-transform: translateY(-52.5px);
          transform: translateY(-52.5px);
}
.wishes-data::-moz-placeholder {
  transform: translateY(-52.5px);
}
.wishes-data:-ms-input-placeholder {
  transform: translateY(-52.5px);
}
.wishes-data::placeholder {
  -webkit-transform: translateY(-52.5px);
          transform: translateY(-52.5px);
}
// Состояния элементов input
.your-contacts input{
  &:default {
    border-color: #0F805D;
  }
  &:hover {
   border-color: #7BDB0A;
  }
  &:active {
    border-color: #7BDB0A;
  }
  &:disabled {
    border-color: #8E9892 70%;
  }
}

