.contacts-info {
max-width: 100%;
min-height: 120px;
margin: 34px 0 0 0;
padding: 0;
text-align: start;
line-height: 1.14;
display: flex;
flex-direction: column;
}

.contacts-info a {
  color: #000000;
}
.contacts-info__adress {
padding: 0;
margin: 0;
}
.contacts-info__phone {
  cursor: pointer;
}
.contacts-info__email {
  cursor: pointer;
}
